//Global Colors
$global-white: #fff;
$global-black: #000;
$global-placeholder: rgba(255, 255, 255, 0.3);
$global-text: #999999;
//Principal Colors
//$primary-color:#142989;
$primary-color:#31008a;
$secundary-color:#F8972E;
$tertiary-color:#333333;
$font-list:#848484;
//
$content-color:#edfbfb;
$request-color:#f6f6f6;
$color-border:#23C324;
//
$date-color:#b6b6b6;
$blue-color:#005B9C;
//
$border-button: #777777;
$color-shadow :#D2D2D2;